.btn-entrar{
  width: 200px;
  padding: 12px;
  background-color:  #FF5E5B;
  color: #FFFFFF;
  border: 2px solid var(#000000;);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
}

.btn-entrar:hover {
  box-shadow: 4px 4px 0px var(#000000);
  transform: translate(-2px, -2px);
}