.btn-entrar{
  width: 200px;
  padding: 8px;
  background-color: rgb(57, 170, 155);
  color: #FFFFFF;
  border: 2px solid var(#000000);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  border-radius: 8px;
}

.btn-entrar:hover {
  box-shadow: 4px 4px 0px var(#000000);
  transform: translate(-2px, -2px);
}


.input{
  border-radius: 9px;
  padding: 5px;
  background-color: rgb(57, 170, 155);
  color: white;

  &::placeholder{
    color: black;
  }


  &:hover{
    background-color: white;
    color:  rgb(57, 170, 155);
  }

  &:focus{
    background-color: white;
    color: black;
  }
}

p{
  text-align: center;
}

h1{
  text-align: center;
}


.container{
  margin-top: 8%;
  margin-left: 30%;
  background-color: rgb(207, 186, 186);
  color: #0c0c0c;
  border-radius: 10px;
  padding: 50px;
  width: 300px;
  height: 350px;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}



